{% extends "base.html.twig" %}
{% block menu %}
 <div id="menuGauche">
        <div id="infosUtil">
            <h3>
                {%if app.user.id %}
                    Visiteur:{{app.user.nomVisiteur}} {{app.user.prenomVisiteur}}<br>
                {%endif%}
            </h3>
        </div>
        <ul id="menuList">
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{ path('acmj_fichefrais', {id : app.user.id}) }} title="Saisir une fiche de frais ">Saisie fiche de frais</a>
                </li>
            {% endif %}
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{ path('acmj_consulter_fichefrais', {id :app.user.id}) }} title="Consultation de mes fiches de frais">Mes fiches de frais</a>
                </li>
            {% endif %}
            <li class="smenu">
                <a href={{ path('acmj_logout') }} title="Se déconnecter">Déconnexion</a>
            </li>
            {% if app.user.comptable == true %}
                <li class="smenu">
                    <a href="#" title="valider les frais">Valider les frais</a>
                </li>
            {% endif %}
        </ul>
        </div>
{% endblock %}
{% block body %}

 <div id="contenu">
      <h2>Mes fiches de frais</h2>
      <h3>Mois à sélectionner : </h3>
      <div class="corpsForm">
      {{form(form)}}
      </div>
      <div class="corpsForm">
        {% if infos is defined %}
      {% for info in infos %} 
      <fieldset>
      <legend> Votre fiche frais du mois {{ info.MOIS }}   </legend>
      <p>
      <label for="txtDATEHF"> Date de modification (jj/mm/aaaa): {{ info.DATEMODIF }} </label>
      </p>
       <p>
      <label for="txtDATEHF"> Mois : {{ info.MOIS }} </label>
      </p>
        <p>
      <label for="txtDATEHF"> Etat : {{ info.ID_ETRE2 }} </label>
      </p>

         <p>
      <label for="txtDATEHF"> Justificatif(s): {{ info.NBJUSTIFICATIFS }} </label>
      </p>

        <p>
      <label for="txtDATEHF"> Montant Total: {{ info.MONTANTVALIDE }}</label>
      </p>
     {% endfor %}


      {% endif %}
      </fieldset>
   
      </div>
         {% endblock %}


      

