{% extends "base.html.twig" %}
{% block menu %}
 <div id="menuGauche">
        <div id="infosUtil">
            <h3>
                {%if app.user.id %}
                    Visiteur:{{app.user.nomVisiteur}} {{app.user.prenomVisiteur}}<br>
                {%endif%}
            </h3>
        </div>
        <ul id="menuList">
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{ path('acmj_fichefrais', {id : app.user.id}) }} title="Saisir une fiche de frais ">Saisie fiche de frais</a>
                </li>
            {% endif %}
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{ path('acmj_consulter_fichefrais', {id :app.user.id}) }} title="Consultation de mes fiches de frais">Mes fiches de frais</a>
                </li>
            {% endif %}
            <li class="smenu">
                <a href={{ path('acmj_logout') }} title="Se déconnecter">Déconnexion</a>
            </li>
            {% if app.user.comptable == true %}
                <li class="smenu">
                    <a href="#" title="valider les frais">Valider les frais</a>
                </li>
            {% endif %}
        </ul>
        </div>
{% endblock %}
{% block body %}

 <div id="contenu">
      <h2>Mes fiches de frais</h2>
      <h3>Mois à sélectionner : </h3>
      <div class="corpsForm">
      {{form(form)}}
      </div>
      <div class="corpsForm">
        {% if infos is defined %}
      {% for info in infos %} 
      <fieldset>
      <legend> Votre fiche frais du mois {{ info.MOIS }}   </legend>
      <p>
      <label for="txtDATEHF"> Date de modification (jj/mm/aaaa): {{ info.DATEMODIF }} </label>
      </p>
       <p>
      <label for="txtDATEHF"> Mois : {{ info.MOIS }} </label>
      </p>
        <p>
      <label for="txtDATEHF"> Etat : {{ info.ID_ETRE2 }} </label>
      </p>

         <p>
      <label for="txtDATEHF"> Justificatif(s): {{ info.NBJUSTIFICATIFS }} </label>
      </p>

        <p>
      <label for="txtDATEHF"> Montant Total: {{ info.MONTANTVALIDE }}</label>
      </p>
     {% endfor %}
        <br>
        <br>
        <br>
        <br>
           <br>
        <br>
        <br>
        <br>
    <table class="listeLegere">
    <fieldset>
      <legend>Les élements hors forfait </legend>
         {% if messageUpdate is defined  %}
                <div class ="erreur">
                    <ul>{{messageUpdate}}</ul></div>
            {% endif %}
      </fieldset>
        <tr>
            <th class="date">Date</th>
            <th class="libelle">Libellé</th>
            <th class="montant">Montant</th>
            <th class="montant">Action</th>
        </tr>
       {% for infoHF in infosHF %}
        <tr>
        <form action={{path('acmj_updatefiche', {idHF : infoHF.id, id : app.user.id } )}} method= "POST" >

            <td>{{ infoHF.DATE | date("d/m/Y") }} </td>
            <td><input type="text" name="libelle" size="100" value={{ infoHF.LIBELLE }} /></td>
            <td><input type="text" name="montant" value= {{ infoHF.MONTANT }} /></td>
            <td><input type="submit"  name="submit" value="Modifier"></td>
            </form>
        </tr>
        
    {% endfor %}
    </table>

       <br>
        <br>
        <br>
        <br>
        <div class="corpsForm">
     <table class="listeLegere">
        <fieldset>
      <legend>Les élements forfait </legend>
      
     <br>
        <tr>
            <th class="date">Date</th>
            <th class="montant">Libellé</th>
            <th class="montant">Quantite</th>
            <th class="montant">Action</th>

        </tr>
       {% for infoFF in infosFF %}
        <tr>

            <td>{{"now"|date("d/m/Y")}} </td>
            <td>{{infoFF.LIBELLE}}</td>
            <td><input type="number" placeholder="Non indiquée"></td>
            <td><a href="#" }} onclick="return confirm('Voulez-vous vraiment modifier ce frais ?');">Modifier</a></td>
        </tr>
    {% endfor %} 
    {% elseif msg is defined %}       
     <div class ="erreur">
                    <ul>{{msg}}</ul></div>
      {% endif %}
      </table>
      </fieldset>
   
         {% endblock %}


      

