{% extends "base.html.twig" %}
{% block menu %}
 <div id="menuGauche">
        <div id="infosUtil">
            <h3>
                {%if app.user.id %}
                    Visiteur:{{app.user.nomVisiteur}} {{app.user.prenomVisiteur}}<br>
                {%endif%}
            </h3>
        </div>
        <ul id="menuList">
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{ path('acmj_fichefrais', {id : app.user.id}) }} title="Saisir une fiche de frais ">Saisie fiche de frais</a>
                </li>
            {% endif %}
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{path('acmj_consulter_fichefrais')}} title="Consultation de mes fiches de frais">Mes fiches de frais</a>
                </li>
            {% endif %}
            <li class="smenu">
                <a href={{ path('acmj_logout') }} title="Se déconnecter">Déconnexion</a>
            </li>
            {% if app.user.comptable == true %}
                <li class="smenu">
                    <a href="#" title="valider les frais">Valider les frais</a>
                </li>
            {% endif %}
        </ul>
        </div>
{% endblock %}
{% block body %}

 <div id="contenu">
      <h2>Mes fiches de frais</h2>
      <h3>Mois à sélectionner : </h3>
      <form action="index.php?uc=etatFrais&action=voirEtatFrais" method="post">
      <div class="corpsForm">
      {{form(form)}}
         
      
	
      </div>
      <div class="piedForm">
      <p>
        <input id="ok" type="submit" value="Valider" size="20" />
        <input id="annuler" type="reset" value="Effacer" size="20" />
      </p> 
      </div>
        
      </form>
      {% endblock %}

