{% extends "base.html.twig" %}
{% block body %}
 <div id="menuGauche">
        <div id="infosUtil">
            <h3>
                {%if app.user.id %}
                    Visiteur:{{app.user.nomVisiteur}} {{app.user.prenomVisiteur}}<br>
                {%endif%}
            </h3>
        </div>
        <ul id="menuList">
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{ path('acmj_fichefrais', {id : app.user.id}) }} title="Saisir une fiche de frais ">Saisie fiche de frais</a>
                </li>
            {% endif %}
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{ path('acmj_consulter_fichefrais', {id : app.user.id}) }} title="Consultation de mes fiches de frais">Mes fiches de frais</a>
                </li>
            {% endif %}
            <li class="smenu">
                <a href={{ path('acmj_logout') }} title="Se déconnecter">Déconnexion</a>
            </li>
            {% if app.user.comptable == true %}
                <li class="smenu">
                    <a href="#" title="valider les frais">Valider les frais</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div id="contenu">
        <h2>Renseigner ma fiche de frais du mois actuel</h2>

        <form method="POST"  action={{ path('acmj_fichefrais', {id : app.user.id }) }}>
            <div class="corpsForm">

                <fieldset>
                    <legend>Eléments forfaitisés</legend>


				{% for visiteur in visiteurs %}

                    <p>
                        <label for="idFrais">{{ visiteur.LIBELLE }}</label>

                        <input type="text" name="montant" size="10" maxlength="5">
                        <input type="hidden" name="idFraisForfait" value={{visiteur.ID}} >
                    </p>
                    {% endfor %}
        </fieldset>
    </div>
    <div class="piedForm">
        <p>
            <input id="ok" type="submit" value="Valider" size="20" />
            <input id="annuler" type="reset" value="Effacer" size="20" />
        </p>
    </div>
    </form>




    </table>
            <h2>Renseigner les élements hors forfait </h2>
    <form action="index.php?uc=gererFrais&action=validerCreationFrais" method="post">
        <div class="corpsForm">
            {{form_start(form)}}
            <fieldset>
                <legend>Nouvel élément hors forfait
                </legend>
                <p>
                    <label for="txtDateHF">{{form_row(form.date)}} </label> 
                    
                   
                </p>
                 <p>
                    <label for="txtDateHF">{{form_row(form.libelle)}} </label> 
                </p>
        {{form_end(form)}}
        
            </fieldset>
        </div>


    </form>

    
    <table class="listeLegere">
        <h2>Descriptif des éléments hors forfait
        </h2>
        <tr>
            <th class="date">Date</th>
            <th class="libelle">Libellé</th>
            <th class="montant">Montant</th>
            <th class="action">&nbsp;</th>
        </tr>
       {% for infoHF in infosHF %}
        <tr>
            <td>{{ infoHF.DATE }} </td>
            <td> {{ infoHF.LIBELLE }} </td>
            <td> {{ infoHF.MONTANT }} </td>
            <td><a href= {{path('acmj_suppression_fiche',{idFraisHF: infoHF.ID })}} onclick="return confirm('Voulez-vous vraiment supprimer ce frais?');">Supprimer</a></td>
        </tr>
         {% endfor %}
    </div>

    



{% endblock %}
  