{% extends "base.html.twig" %}
{% block body %}
 <div id="menuGauche">
        <div id="infosUtil">
            <h3>
                {% if app.user.id %}
                    Visiteur:{{app.user.nomVisiteur}} {{app.user.prenomVisiteur}}<br>
                {% endif %}
            </h3>
        </div>
        <ul id="menuList">
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{ path('acmj_fichefrais', {id : app.user.id}) }} title="Saisir une fiche de frais ">Saisie fiche de frais</a>
                </li>
            {% endif %}
            {% if app.user.comptable == false %}
                <li class="smenu">
                    <a href={{ path('acmj_consulter_fichefrais', {id : app.user.id}) }} title="Consultation de mes fiches de frais">Mes fiches de frais</a>
                </li>
            {% endif %}
            <li class="smenu">
                <a href={{ path('acmj_logout') }} title="Se déconnecter">Déconnexion</a>
            </li>
            {% if app.user.comptable == true %}
                <li class="smenu">
                    <a href="#" title="valider les frais">Valider les frais</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div id="contenu">
        <h2>Renseigner ma fiche de frais du mois actuel</h2>
   {% if messageFrais is defined  %}
                <div class ="erreur">
                    <ul>{{messageFrais}}</ul></div>
            {% endif %}
            <div class="corpsForm">
                {{form_start(form)}}
                <fieldset>
                    <legend>Eléments forfaitisés</legend>
                    <p>
                        <label> {{form_row(formF.ETP)}}</label>
                        </p>
                         <p>
                         <label> {{form_row(formF.KM)}}</label>
                         </p>
                          <p>
                          <label> {{form_row(formF.NUI)}}</label>
                          </p>
                           <p>
                           <label> {{form_row(formF.REP)}}</label>
                    </p>


        </fieldset>
       
    </div>
    <div class="piedForm">
        <p>
        {{form_row(formF.save)}}

        </p>
        <p>
        {{form_row(formF.reset)}}
        </p>
    </div>
     {{form_end(formF)}}





    </table>
            <h2>Renseigner les élements hors forfait </h2>
            {{form_start(form)}}
   {% if messageFrais is defined  %}
                <div class ="erreur">
                    <ul>{{messageFrais}}</ul></div>
            {% endif %}
        <div class="corpsForm">
            
            <fieldset>
                <legend>Nouvel élément hors forfait
                </legend>
                <p>
                    <label for="txtDateHF">{{form_row(form.date)}} </label> 
                    
                   
                </p>
                 <p>
                    <label for="txtDateHF">{{form_row(form.libelle)}} </label> 
                </p>
                <p>
                    <label for="txtDateHF">{{form_row(form.montant)}}</label>
                </p>
        
        
            </fieldset>
        </div>
  <div class="piedForm">
        <p>
            {{form_row(form.save)}}
            {{form_row(form.reset)}}
        </p>

  </div>
      {{form_end(form)}}

  

      {% for infoHF in infosHF %}
    <table class="listeLegere">
        <h2>Descriptif des éléments hors forfait
        </h2>
        <tr>
            <th class="date">Date</th>
            <th class="libelle">Libellé</th>
            <th class="montant">Montant</th>
            <th class="action">&nbsp;</th>
        </tr>

        <tr>
         {% if message is defined  %}
                <div class ="erreur">
                    <ul>{{message}}</ul></div>
            {% elseif messageUpdate is defined %}
            <div class ="erreur">
                    <ul>{{messageUpdate}}</ul></div>

            {% endif %}

            <td>{{ infoHF.DATE | date('d/m/Y')}} </td>
            <td> {{ infoHF.LIBELLE }} </td>
            <td> {{ infoHF.MONTANT }} </td>
            <td><a href= {{path('acmj_suppression_fiche',{idFraisHF: infoHF.ID, idVisiteur: app.user.id })}} onclick="return confirm('Voulez-vous vraiment supprimer ce frais?');">Supprimer</a></td>
        </tr>
         {% endfor %}
    </div>

    



{% endblock %}
  